body {
	background-color: #222;
	color: #aaa;
	font-family: Arial, sans-serif;
	line-height: 1.6;
	margin: 0;
	padding: 0;
}

header {
	background-color: #333;
	color: #fff;
	padding: 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

main {
	padding: 2rem;
	height: calc(100vh - 20rem);
}

.topics-container {
	flex: 1;
	max-height: 100%;
	overflow-y: auto;
}

.search-bar {
	margin-bottom: 1rem;
}

.search-input {
	width: 100%;
	padding: 0.5rem;
	font-size: 1rem;
}

button {
	background-color: #333;
	color: white;
	border: none;
	padding: 0.5rem 1rem;
	font-size: 1rem;
	cursor: pointer;
	margin-bottom: 1rem;
	margin-right: 0.5rem;
}

button:hover {
	background-color: #555;
}

button:active {
	background-color: #222;
}

button.btn-light {
	background-color: #ddd;
	color: #333;
}

button.btn-light:hover {
	background-color: #aaa;
}

button.btn-light:active {
	background-color: #888;
}

.toggle-btn-on {
	background-color: #383;
}

.toggle-btn-on:hover,
.toggle-btn-on:active {
	background-color: #363;
}

input[ type="text"], textarea {
	background-color: #333;
	color:white;
}

.invalid:placeholder-shown {
	border-color: red;
}

.btn-container {
	display: flex;
	justify-content: flex-end;
}

::-webkit-scrollbar {
	width: 16px;
}

::-webkit-scrollbar-track {
	background: #333;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	background: #555;
	border-radius: 10px;
	border: 3px solid #333;
}

::-webkit-scrollbar-thumb:hover {
	background: #666;
}

::-webkit-scrollbar-track:horizontal {
	height: 16px;
}

::-webkit-scrollbar-thumb:horizontal {
	height: 12px;
	border-radius: 10px;
	border: 3px solid #333;
}



/********************************
*								*
*		Modal Styles			*
*								*
*********************************/

.modal {
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
	background-color: #222;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
	max-width: 500px;
}

.modal-body h2 {
	margin-top: 0;
}

.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
	cursor: pointer;
}

.close:hover,
.close:focus {
	color: #888;
	text-decoration: none;
	cursor: pointer;
}


/********************************
*								*
*	createNewTopic Styles		*
*								*
*********************************/

.create-new-topic .topic-title {
	display: block;
	width: calc( 100% - 1rem );
	padding: 0.5rem;
	margin: 0.5rem 0;
}

.create-new-topic .topic-description {
	display: block;
	width: calc( 100% - 1rem );
	height: 100px;
	padding: 0.5rem;
	margin: 0.5rem 0;
}

.create-new-topic button {
	margin-top: 1rem;
	margin-bottom: 0.25rem;
}


/********************************
*								*
*		TopicBox Styles			*
*								*
*********************************/

.topics-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	gap: 1rem;
}

.topic-box {
	border: 1px solid #ddd;
	padding: 1rem;
	border-radius: 5px;
}

.topic-box h3 {
	margin-top: 0;
}

.topic-box button {
	width: 80px;
}



/********************************
*								*
*		Create Quiz Styles		*
*								*
*********************************/

.create-quiz-form .quiz-title {
	display: block;
	width: calc( 100% - 1rem );
	padding: 0.5rem;
	margin: 0.5rem 0;
}

.create-quiz-form ul {
	padding-inline-start: 0;
	overflow-y: auto;
	max-height: 300px;
}

.create-quiz-form li {
	display: flex;
	justify-content: space-between;
}

.create-quiz-form li .question-text {
	margin-right: 15px;
	height: 25px;
	white-space: nowrap;
	flex-grow: 1;
	overflow: hidden;
	text-overflow: ellipsis;
	min-width: 0;
}

.question-delete {
	background-color: #700;
	font-size: 22px;
	padding: 0 12px;
}


/********************************
*								*
*		Edit Qestion Styles		*
*								*
*********************************/

.create-question-form .question-text {
	display: block;
	width: calc( 100% - 1rem );
	height: 100px;
	padding: 0.5rem;
	margin: 0.5rem 0;
}

.create-question-form ul {
	padding-inline-start: 0;
	overflow-y: auto;
	max-height: 300px;
}

.create-question-form li {
	display: flex;
	justify-content: space-between;
}

.create-question-form .answer-text {
	margin-right: 15px;
	height: 25px;
	white-space: nowrap;
	flex-grow: 1;
	overflow: hidden;
	text-overflow: ellipsis;
	min-width: 0;
}

.create-question-form .answers .answer-correct {
	width: 95px;
}

.create-question-form .answer-error {
	color: #b00;
	font-weight: bold;
}
